
html, body {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
}

#bd-left-menu {
    position: fixed;
    z-index: 1;
    width: 240px;
    height: calc(100% - 48px);
    margin-top: 48px;
    background-color: rgb(44, 44, 44);
    color: rgb(200, 200, 200);
    border-right: 1px solid rgb(72, 72, 72);
}

#bd-top-menu {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 24px;
    color: rgb(246, 246, 246);
    font-size: 20px;
    padding: 12px;
    background-color: #85664e;
    box-shadow: 10px 0px 5px 0px #000;
    text-shadow: 1px 0px 2px #242424;
}

#bd-main {
    margin-left: 240px;
    margin-top: 48px;
    height: calc(100% - 48px);
}

.bc-left-sub-m {
    padding: 10px 0px;
    box-shadow: 0px 1px 2px rgb(20, 20, 20);
}

#anim-play {
    cursor: pointer;
    padding-bottom: 10px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 18px;
}

#anim-slider {
    margin-left: 10px;
    width: 220px;
}

#dval-s {
    padding-bottom: 10px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 18px;
}

div.bc-dval-opt {
    cursor: pointer;
    padding: 4px 8px;
    font-size: 14px;
    padding-left: 14px;
}

div.bc-dval-opt-sel {
    background-color: rgb(54, 54, 54);
}

.bc-dval-opt-x {
    color:rgb(112, 112, 112);
}

.bc-dval-opt-x:hover {
    color:rgb(200, 200, 200);
}

.bc-dval-opt-hid {
    display: none;
}


#mleft {
    width: 160px;
    height: 100%;
    top: 58px;
    left: 250px;
    position: absolute;
    background: none;
}

#hover-panel {
    display: none;
    width: 100%;
    background: none;
    border: 1px solid rgb(255, 216, 53);
}

.hover-container {
    padding: 0px 12px;
    color:rgb(255, 216, 53);
    font-size: 12px;
    border-collapse: collapse;
    background-color: #12121c;
}

.hover-field {
    text-align: center;
}

#mright {
    width: 280px;
    height: 800px;
    top: 58px;
    right: 10px;
    position: absolute;
    background: none;
}

#candle-panel {
    display: none;
    width: 100%;
    background: none;
}

.candle-cont-first {
    border-top: 1px solid #3a464a;
    margin-top: 2px;
}
.candle-container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    padding: 1px 12px;
    color:rgb(186, 186, 186);
    text-align: left;
    font-size: 12px;
    line-height: 20px;
    border-bottom: 1px solid #3a464a;
    border-left: 1px solid #3a464a;
    border-right: 1px solid #3a464a;
    border-collapse: collapse;
    background-color: #0f0f0f;
}

.candle-lbl {
    color:rgb(112, 112, 112);
    border: 0;
    box-sizing: border-box;
}

#orders-panel {
    display: none;
    width: 100%;
    background: none;
}

.orders-container {
    width: 100%;
    border-collapse: collapse;
    background-color: #0f0f0f;
    border: 1px solid #3a464a;
}

.orders-tbl {
    width: 280px;
    table-layout: fixed;
    border-collapse: collapse;
}

.orders-tbl tbody {
    display: block;
    width: 100%;
    height: 230px;
    overflow-y: auto;
}

.orders-tbl thead tr {
    display: block;
}

.orders-tbl tbody tr td {
    width: 92px;
}

.orders-tbl tbody tr:last-of-type td {
    border: none;
}

#orders-s-list, #orders-b-list {
    overflow-y: scroll;
}

.orders-head {
    width: 92px;
    color:rgb(112, 112, 112);
    text-align: left;
    font-size: 12px;
    line-height: 20px;
    border-bottom: 1px solid #3a464a;
    padding: 0px 4px;
}

.orders-row {
    color:rgb(186, 186, 186);
    text-align: left;
    font-size: 12px;
    line-height: 20px;
    border-bottom: 1px solid #3a464a;
    padding: 0px 4px;
}

.right-seperator {
    margin: 4px 0px;
    min-height: 20px;
    box-sizing: border-box;
    color:rgb(186, 186, 186);
    text-align: right;
    font-size: 16px;
    text-shadow: 1px 0px 2px #000;
    line-height: 20px;
}

.mbottom {
    position: fixed;
    margin-left: 240px;
    padding-bottom: 20px;
    bottom: 0;
    width: calc(100% - 240px);
    display: flex;
    justify-content: center;
}

#sn-time-cont {
    width: 500px;
    background-color: #12121c;
    border: 1px solid #3a464a;
}
#sn-time-gfx {
    width:100%;
}
.sn-time-s1 {
    stop-color: #3a464a;
    stop-opacity: 0%;
}
.sn-time-s2 {
    stop-color: #3a464a;
    stop-opacity: 100%;
}


